body {
   background-color: black;
   color: whitesmoke;
   user-select: none;
}

#container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 21px;
   font-weight: 700;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   justify-content: center;
}

#canvas0 {
   width: 740px;
   height: 600px;
}

#speedSlider {
   width: 500px;
}
